@mixin card-style($type) {
    display: flex;
    flex-direction: column;
    padding: var(--wp--preset--spacing--sm);
    border-radius: var(--wp--preset--spacing--md);
    height: 100%;

    /* Light */

    @if $type =="light" {
        background: var(--wp--preset--color--light);
        color: var(--wp--preset--color--dark);
    }

    /* Dark */

    @else if $type =="dark" {
        background: var(--wp--preset--color--primary);
        color: var(--wp--preset--color--light);
    }

    .txt__group {

        h3,
        .excerpt p {
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }

        h3 {
            -webkit-line-clamp: 2;
            @include text-style("body");
            font-size: var(--wp--preset--font-size--medium);
            color: var(--wp--preset--color--primary);
            font-weight: 600;
        }

        .excerpt p {
            -webkit-line-clamp: 4;
            @include text-style("body");
        }

        .cta {
            margin-top: auto;
            .wp-element-button {
                font-size: 0.7rem;
                min-height: fit-content;
            }
        }
        .date {
            font-size: var(--wp--preset--font-size--small);
        }
    }

    .img__group {
        max-height: 250px;
        border-radius: calc(var(--wp--preset--spacing--md) - var(--wp--preset--spacing--sm));
    }
}


/*
 * Classes defintion
 */
.card {

    &__light {
        @include card-style("light");
    }

    &__dark {
        @include card-style("dark");
    }

}