.card {
    position: relative;
    padding: var(--space--xs, 0);
    border-radius: var(--radius, 0);
    border: 2px solid var(--color--primary-light);

    & figure {
        aspect-ratio: 16/9;
        @include media-style(cover);
    }

    & h2>a, & h3>a, & h4>a {
        &:before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
        }
    }
}