@mixin text-style($category) {

    @if $category =="body" {
        font-family: var(--wp--preset--font-family--body);
        color: var(--wp--preset--color--tertiary-light);
        font-style: normal;
    }

    @if $category =="heading" {
        font-family: var(--wp--preset--font-family--heading);
        color: var(--wp--preset--color--primary-light);
        font-style: normal;
    }
}


 /*
 * Classes defintion
 */
.txt {
    &__body {
        @include text-style("body");
    }

    &__heading {
        @include text-style("heading");
    }
}


.txt__group {
    display: flex;
    gap: .5rem;
    padding: .5rem;
    word-break: break-word;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.txt__variant {
    font-family: var(--wp--preset--font-family--heading);
    font-weight: 700;
    font-style: italic;
}