@mixin text-style($category) {

    @if $category =="heading" {
        font-family: var(--font-primary);
        color: var(--color-dark);
        font-style: normal;
        line-height: var(--txt-l--loose);
    }

    @if $category =="body" {
        font-family: var(--font-secondary);
        color: var(--color-dark);
        font-style: normal;
        line-height: var(--txt-l--standard);
    }
}


 /*
 * Classes defintion
 */
.txt {
    &__body {
        @include text-style("body");
    }

    &__heading {
        @include text-style("heading");
    }
}