.breadcrumbs {
    @include text-style("body");

    .breadcrumb_last {
        font-weight: 600;
        color: var(--wp--preset--color--primary);
    }

    a:hover {
        color: var(--wp--preset--color--primary);
    }
}