header {
    position: fixed;
    z-index: 20;
    width: 100%;

    ul {
        list-style: none;
    }

    .header__container {
        width: 100%;
        position: relative;
        padding: var(--wp--preset--spacing--sm);
        display: flex;


        .header__inner-container {
            position: relative;
            // border: 1px solid #E3E3E3;
            background: var(--wp--preset--color--white);
            padding: 0 var(--wp--preset--spacing--xl);
            border-radius: 50px;
            height: var(--wp--custom--header-size);
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);
        }

        .logo {
            // aspect-ratio: 1 / 1;
            position: absolute;
            width: var(--wp--custom--header-size);
            // height: calc(var(--wp--custom--header-size) - var(--wp--preset--spacing--md));
            height: 100%;
            display: flex;
            justify-content: center;

            img {
                position: relative;
                width: 50px;
                object-fit: contain;
                height: 100%;
                transform: translateY(5px);
                z-index: 1;
            }

            &::after {
                content: '';
                position: absolute;
                background: var(--wp--preset--color--white);
                width: calc(var(--wp--custom--header-size) + var(--wp--preset--spacing--md));
                height: 100%;
                bottom: -15px;
                border-radius: 0 0 100px 100px;
            }
        }

    }

    .header__responsive {
        display: none;
    }

    @media #{$lg} {
        --wp--custom--header-size: 45px;

        .header__container {
            .header__inner-container {
                padding: 0 var(--wp--preset--spacing--sm);

                .logo {
                    img {
                        transform: inherit;
                        width: 35px;
                    }
                }

                .logo::after {
                    display: none;
                }
            }
        }

        .header__responsive {
            display: flex;
            align-items: center;
            padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--md);
            width: 100%;
            justify-content: flex-end;

            .burger__icon {
                width: 30px;
                height: 25px;
                position: relative;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    width: 100%;
                    height: 2.5px;
                    background: var(--wp--preset--color--primary-light);
                    border-radius: 4px;
                }

            }

        }

        &.open__menu {

            .navbar {
                display: grid;
            }

            .header__responsive {
                .burger__icon {
                    >span:nth-child(1) {
                        transform: rotate(45deg) translate(7.5px, 8px);
                    }

                    >span:nth-child(2) {
                        display: none;
                    }

                    >span:nth-child(3) {
                        transform: rotate(-45deg) translate(7.5px, -8px);
                    }

                }
            }
        }
    }


}