.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &>ul {
        flex: 1;
    }

    .navbar__group {
        display: flex;
        gap: var(--wp--preset--spacing--sm);
        align-items: center;
        color: var(--wp--preset--color--dark);
        height: 100%;

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: flex-end;
        }

        .navbar__item {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 var(--wp--preset--spacing--sm);

            .action--element {
                cursor: pointer;
                width: 100%;
                display: flex;
                align-items: center;
                padding: var(--wp--preset--spacing--md);
                border-radius: var(--wp--preset--spacing--sm);
                gap: var(--wp--preset--spacing--xs);
                justify-content: center;
                font-weight: 700;
                font-size: 15px;
                height: fit-content;
                min-height: 33px;
                padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
                color: var(--wp--preset--color--primary);
                text-wrap: nowrap;

                .tab-icon {
                    width: 10px;
                    transition: all 0.25s;

                    path {
                        stroke: var(--wp--preset--color--primary);
                    }
                }

                &:hover,
                &.active {
                    background: var(--wp--preset--color--light);
                }
            }

            .submenu {
                display: none;
                position: absolute;
                top: 100%;
                width: 100%;
                white-space: nowrap;
                text-align: center;
                justify-content: center;
                left: 0;
                z-index: 10;

                .submenu__group {
                    border: 1px solid #E3E3E3;
                    margin-top: var(--wp--preset--spacing--sm);
                    display: grid;
                    place-items: center;
                    min-width: 300px;
                    width: 100%;
                    max-width: 800px;
                    background: var(--wp--preset--color--white);
                    padding: var(--wp--preset--spacing--md);
                    border-radius: var(--wp--preset--spacing--sm);
                    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);
                    grid-template-columns: 1fr 1fr;

                    .submenu__item {
                        width: 100%;

                        &.active .action--element {
                            background: var(--wp--preset--color--light);
                        }

                        display: flex;
                        gap: var(--wp--preset--spacing--md);

                        &:nth-child(odd) {
                            border-right: 1px solid #E3E3E3;
                            padding-right: var(--wp--preset--spacing--xs);
                        }

                        &:nth-child(even) {
                            padding-left: var(--wp--preset--spacing--xs);
                        }


                        .action--element {
                            gap: var(--wp--preset--spacing--md);
                            padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--lg);
                            padding-left: var(--wp--preset--spacing--xs);
                        }

                        .submenu__text {
                            display: flex;
                            flex-direction: column;
                            gap: var(--wp--preset--spacing--sm);
                            letter-spacing: 0.5px;
                            max-width: 220px;
                            text-align: left;
                            width: 100%;

                            .extract {
                                font-size: 12px;
                                color: var(--wp--preset--color--dark);
                                opacity: 0.7;
                                line-height: 15px;
                                font-weight: 200;
                                text-wrap: wrap;
                            }
                        }

                        .submenu__image {
                            // background: var(--wp--preset--color--light);
                            color: var(--wp--preset--color--light);
                            min-width: 75px;
                            max-width: 75px;
                            height: 75px;
                            overflow: hidden;
                            display: flex;
                            place-items: center;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: var(--wp--preset--spacing--xs);
                            }
                        }

                        &:last-child {
                            border: none;
                        }
                    }
                }
            }

            &:hover {
                &>.action--element {
                    background: var(--wp--preset--color--light);

                    .tab-icon {
                        transform: rotate(-180deg);
                    }
                }

                .submenu.action--hover {
                    display: flex;
                }
            }
        }

        .features {

            .search__group {
                .action--element {
                    .search-icon {

                        line,
                        circle {
                            stroke: var(--wp--preset--color--primary);
                        }
                    }
                }

                .submenu {
                    z-index: -1;

                    .form-search {
                        display: flex;
                        align-items: center;
                        gap: var(--wp--preset--spacing--sm);

                        .reset {
                            display: flex;

                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }

                &.active {
                    .action--element {
                        background: var(--wp--preset--color--light);
                    }

                    .action--click {
                        display: flex;
                    }
                }
            }

        }
    }


    @media #{$lg} {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100dvh - var(--wp--custom--header-size) - var(--wp--preset--spacing--md) - var(--wp--preset--spacing--sm));
        border-radius: var(--wp--preset--spacing--sm);
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .1);
        left: 0;
        top: 0;
        margin-top: calc(var(--wp--custom--header-size) + var(--wp--preset--spacing--sm));
        // border: 1px solid #E3E3E3;
        background: var(--wp--preset--color--primary);
        align-items: flex-start;
        padding: var(--wp--preset--spacing--sm);
        overflow: scroll;

        .navbar__group {
            position: relative;
            flex-direction: column;
            height: fit-content;
            gap: var(--wp--preset--spacing--md);

            .navbar__item {
                flex-direction: column;
                width: fit-content;

                &>.action--element {
                    .tab-icon {
                        display: none;
                    }
                }

                .action--element {
                    width: fit-content;
                    color: var(--wp--preset--color--light);
                    
                    &:hover,
                    &.active {
                        background: none;
                    }
                }

                .submenu {
                    display: flex;
                    position: relative;
                    top: 0;

                    .submenu__group {
                        grid-template-columns: 1fr;
                        padding: var(--wp--preset--spacing--sm);
                        
                        .submenu__item {
                            &:nth-child(odd) {
                                border: none;
                                padding-right: 0;
                            }

                            &:nth-child(even) {
                                padding-left: 0;
                            }

                            .action--element {
                                width: 100%;
                            }

                            .submenu__image,
                            .extract {
                                display: none;
                            }
                        }

                    }
                }

                &:hover {
                    &>.action--element {
                        background: none;
                    }
                }
            }

            .features {
                .search__group {
                    .action--element {
                        display: none;
                    }

                    .submenu {
                        z-index: 1;

                        .form-search {
                            flex-direction: column;
                            width: 100%;

                            .fields,
                            .wp-block-button,
                            .wp-element-button {
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }

    }
}