[class*="grid"] {
    display: grid;
    grid-template-columns:
        repeat(var(--grid-placement, auto-fill),
            minmax(var(--grid-min-item-size, 16rem), 1fr));
    gap: var(--space--sm);

    @media #{$sm} {
        --grid-min-item-size: auto;
    }
}

@for $n from 1 through 5 {
    .grid-template--#{$n} {
        --grid-placement: #{$n};
        --grid-min-item-size: 0;

        @if $n >1 {
            @if $n >2 {
                @media #{$lg} {
                    --grid-placement: #{floor($n / 1.5)};
                }

                @media #{$md} {
                    --grid-placement: #{floor($n / 2)};
                }
            }

            @media #{$sm} {
                --grid-placement: 1;
            }
        }
    }
}