//____________________________
//
// Custom style import file
//____________________________

@import "components/header";
@import "components/footer";
@import "components/navbar";
@import "components/hero";
@import "components/breadcrumbs";
@import "pages";
// @import "plugins";


.cpt-cuvee-summary {
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    aspect-ratio: 3/4;

    a {
        position: relative;
        width: 100%;
        display: block;
        height: 100%;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 500
    }

    .txt__group {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 50%);
        padding: var(--wp--preset--spacing--lg);
        text-shadow: 2px 2px 4px #0000007e;
        transition: opacity 0.2s;
    }

    &:hover {
        .txt__group {
            opacity: 1;
        }

        img {
            transform: scale(1.025);
        }
    }

    figure {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s;
        }
    }

    @media #{$lg} {
        height: 550px;
        border-radius: none!important;

        a {
            display: flex;
            flex-direction: column-reverse;
        }

        .txt__group {
            position: relative;
            opacity: 1;
            height: auto;
            background: none;
            padding: var(--wp--preset--spacing--sm);
            text-shadow: inherit;
            h3 {
                color: var(--wp--preset--color--primary)!important;
            }
            span {
                color: var(--wp--preset--color--tertiary-light)!important;
            }
        }

        figure {
            border-radius: var(--wp--preset--spacing--md);
            overflow: hidden;
        }
    }
}


.single-cuvee {
    .img__group {
        display: flex;
        justify-content: center;
    }

    .wp-block-buttons {
        gap: var(--wp--preset--spacing--lg);
    }

    .cpt-cuvee-summary {
        max-width: 450px;
    }

    .related-cuvees .grid {
        &>* {
            justify-content: center;
        }
    }

    @media #{$lg} {
        .cpt-cuvee-summary {
            max-width: inherit;
            height: auto;
        }    
    }
}