/*
 * Colors
 */
$color-primary: #1E4E4E;
$color-primary--light: #d4e2d6;

$color-secondary: #AB4E17;
$color-secondary--light: #CE8414;

$color-light: #F3F3F3;
$color-dark: #0f0f0f;

$color-white: #FFFFFF;

/*
 * Global properties
 */
$g-transition: 0.25s;
$g-radius: 1.5rem;

/*
 * Breakpoints
 */
$sm-w: 450px;
$md-w: 768px;
$lg-w: 1280px;
$xl-w: 1400px;

/*
 * Spacers
 */
$spacer-xs: 0.25rem;
$spacer-sm: 0.5rem;
$spacer-md: 1rem;
$spacer-lg: 2rem;
$spacer-xl: 4rem;

/*
 * Fonts
 */
$font-url: "../fonts/GreycliffCF";
$font-label: "Aaargh";

$font-filename-light: "";
$font-filename-regular: "Aaargh.ttf";
$font-filename-medium: "";
$font-label-demibold: "Aldo";
$font-filename-demibold: "Aldo-PC.ttf";
$font-label-demibold: "Circula";
$font-filename-demibold2: "circula-medium.otf";
$font-filename-extrabold: "";

/*
 * Containers
 */
$max-width-lg: 1400px;
$width-lg: 85%;

$max-width-md: 1200px;
$width-md: 75%;

$max-width-sm: 1000px;
$width-sm: 65%;

/*
 * Texts
 */
 $size-title: 65px;
 $size-subtitle: 42px;
 $size-text: 14px;
 $size-cta: 10px;
 $size-label: 12px;