html {
    scroll-behavior: smooth;
}

body {
    background: var(--color--light);
    color: var(--color--dark);
    font-size: var(--txt-s--0);
    font-family: var(--font-primary);
    line-height: var(--txt-l--standard);
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    overflow: hidden;
}


