@media #{$md} {
    body {
        --wp--preset--spacing--xxl: var(--wp--preset--spacing--xl);
    }

    .has-xx-large-font-size {
        font-size: var(--wp--preset--font-size--x-large) !important;
    }

    h1,
    h2 {
        font-size: var(--wp--preset--font-size--x-large);
    }

    .has-text-align-center {
        text-align: left !important;
    }
    // main .wp-block-group:not(:first-child) figure {
    //     width: 100%;

    //     img {
    //         width: 100%!important;
    //     }
    // }

    .is-resized img {
        aspect-ratio: 4/3!important;
        object-fit: contain;
    }
}

@media #{$lg} {
    .responsise--row-reverse {
        .wp-block-doowup-grid-item:first-of-type {
            order: 2;
        }
    }

}
